@layer utilities {

  @keyframes fadePulse {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-fade-pulse {
    animation: fadePulse 1.2s ease-in-out infinite;
  }
}