/* PROJECTS CAROUSEL */
@layer utilities {

    @keyframes slide-in {
    from {
      opacity: 0; 
      transform: translateY(100vh); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slide-out {
    from {
      opacity: 0; 
      transform: translateY(-100vh); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

    @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.animate-slide-in {
  animation: slide-in 1s ease-in forwards;
}

.animate-slide-out {
  animation: slide-out 1s ease-in forwards;
}

.animate-slide-in:first-child {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(2, 1, .3, .1);
}

.animate-slide-out:last-child {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(2, 1, .3, .1);
}

.animate-slide-up {
  animation: slide-up 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.animate-slide-down {
  animation: slide-down 0.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.transition-300 {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

