@import "tailwindcss";
@import "tw-animate-css";
@import "../CSS/Hero.css";
@import "../CSS/Ripple.css";
@import "../CSS/Projects.css";
@import "../CSS/ThemeSwitch.css";
@import "../CSS/Loaders.css";

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:is(.light *));

/* Theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-theme-accent1: #f6ad49;
  --color-theme-accent2: #1a181f;
  --color-theme-accent3: #ed9e6f;
  --color-theme-accent4: #80488e;
  --color-theme-dark-accent1 : #1F3A93;
  --color-theme-dark-accent2 : #495057;
  --color-theme-dark-accent3 : #ed9e6f;
  --color-theme-dark-accent4 : #80488e;
  --color-theme1-base: #131212;
  --color-theme1-secondary: #e8d8c9;
  --color-theme1-accent: #c94f4f;
  --color-theme2-base: #F0EDE5;
  --color-theme2-secondary: #060D0C;
  --color-theme2-accent1: #F8C98A;
  --color-theme2-accent2: #F8C469;
  --color-theme2-accent3: #FFB347;
  --color-theme2-accent4: #232A36;

  --font-inter: var(--font-inter), sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;
  --font-caveat: var(--font-caveat), sans-serif;
  --font-condiment: var(--font-condiment), sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);


  /* BREAKPOINTS */
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 430px;
  --breakpoint-2xs: 512px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 840px;
  --breakpoint-3md: 960px;
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1140px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1360px;
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1536px;
  --breakpoint-5xl: 1600px;
  --breakpoint-6xl: 1680px;
  --breakpoint-7xl: 1760px;
  --breakpoint-8xl: 1840px;
  --breakpoint-9xl: 1920px;
}

/* Global body styles */
body {
  background: var(--color-theme1-base);
  font-family: var(--font-inter), sans-serif; /* Use Inter globally */
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}


/* for rounded edges of cards */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}





